/*COMUNES*/
@media screen and (min-width:481px) {
body{
	background: url("img/fondoMovil.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100%;
    font-family: Century Gothic;
}

.container{
	align-items: center;
	width: 90%;
}
.card{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	margin: 0px;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white;
}

.card-header{
    padding: 2px;
    padding-left: 10px;
    font-size: 24px;
    color: white;
}

.card-footer{
    height: 20px;
    text-align: right;
    padding: 2px;
    padding-right: 6px;
    font-size: 16px;
    color: white;
}

.card-body{
    align-items: center;
    display: flex;
    text-align: left;
}

.card-body p{
    padding-left: 10px;
    vertical-align: middle;
    text-align: inherit;
}

.card-body img{
    float: left;
    margin: 5px;
    vertical-align: middle;
    height: 200px;
    width: 300px;
}

.card-footer a{
    float: right;
    padding: 4px;
    background-color: rgba(0,0,0,0.4);
    color: white;
}

/* FIN COMUNES*/
/* PAGINA PRINCIPAL */

.principal-border{ /* CARD */
    border-color: #F89532;
}

/************ Si se pone junto es que contiene ambas clases si en cambio se escribe separado es que una contiene la otra ************/
.card-header.principal-bgr{ /* HEADER */
    background: #F89532;
}

.card-footer.principal-bgr{ /* FOOTER */
    background: #F89532;
    height: 35px;
}

.titlePrincipal{
    padding: 2px;
    padding-left: 10px;
    font-size: 28px;
    background: #F89532;
    color: white;
}

/* PAGINA PRINCIPAL */
/* QUE HACER?*/

/* pekin #58ACFA */
.pekin-border{  /* pekin CARD */
    border-color: #58ACFA;
}

.pekin-bgr{ /* pekin HEADER/FOOTER */
    background: #58ACFA;
}


.titlePekin{
    padding: 2px;
    padding-left: 10px;
    font-size: 28px;
    background: #58ACFA;
    color: white;
}

/* shanghai #04B431 */
.shanghai-border{  /* shanghai CARD */
    border-color: #04B431;
}

.shanghai-bgr{ /*shanghai HEADER/FOOTER */
    background: #04B431;
}

.titleShanghai{
    padding: 2px;
    padding-left: 10px;
    font-size: 28px;
    background: #04B431;
    color: white;
}

/* Xian #9A2EFE */
.xian-border{  /* Xian CARD */
    border-color: #9A2EFE;
}

.xian-bgr{ /*Xian HEADER/FOOTER */
    background: #9A2EFE;
}

.titleXian{
    padding: 2px;
    padding-left: 10px;
    font-size: 28px;
    background: #9A2EFE;
    color: white;
}

/* FIN QUE HACER?*/
/* CONOCENOS */

.titleConocenos{
    padding: 2px;
    padding-left: 10px;
    font-size: 32px;
    color: white;
    font-weight: bold;
}

.contacto{
    margin: 20px;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    background: #101010;
    color: white;
}
.uno{
    width: 220px;
    height: 220px;
    font-size: 28px;
    color: white;
    font-weight: bold;
    background: #F89532;
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.dos{
    width: 220px;
    height: 220px;
    font-size: 28px;
    color: white;
    font-weight: bold;
    background: #58ACFA;
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.tres{
    width: 220px;
    height: 220px;
    font-size: 28px;
    color: white;
    font-weight: bold;
    background: #04B431;
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.cuatro{
    width: 220px;
    height: 220px;
    font-size: 28px;
    color: white;
    font-weight: bold;
    background: #9A2EFE;
    margin: 20px;
    text-align: center;
    padding: 20px;
}
}


/* FIN CONOCENOS */
